In [50]:
#Método GroupBy
import pandas as pd
import os
print(os.getcwd())

c:\Users\Giovana Cristina\Documents\estudossData\EstudosArea\Manipulaçao-Dados

In [51]:
df = pd.read_csv(r"alunos.csv")

In [52]:
df.head()

      nome  idade  nota      série   situacao
0      Ana     16  5.38  2º ano EM  Reprovado
1    Bruno     15  9.72     7º ano   Aprovado
2   Carlos     14  7.26  2º ano EM   Aprovado
3  Daniela     16  5.41  2º ano EM  Reprovado
4  Eduardo     12  5.52  1º ano EM  Reprovado

1 - Quantidade de funcionário por departamento