In [38]:
import pandas as pd

In [39]:
pd.set_option("display.max_columns", None) #Não ter limite de coluna para o display, para não cortar nenhuma coluna
pd.set_option("display.expand_frame_repr", False) #Não ter quebra de linha

In [40]:
arquivo = "produtos_preco_formatado.csv"

1- Leitura do arquivo

In [41]:
df = pd.read_csv(arquivo, sep=",", index_col=None)
df.head(2)

      nome  categoria  quantidade     preço
0  Caderno  Papelaria          10  R$ 12,50
1    Lápis  Papelaria         100   R$ 1,20

2- Entender e remover linhas desnecessárias com df.drop(colunas, axis)

In [42]:
df = df.drop(["categoria", "preço"],axis=1)#Deletar colunas desnecessárias da tabela, O axis=1 é pq é coluna se fosse linhas seria axis=0
df.columns #Exibe as colunas da tabela

Index(['nome', 'quantidade'], dtype='object')

3- Renomear colunas com df.rename(columns={"nome_velho": "nome_novo"})

In [ ]:
df = df.rename(columns={"nome": "Produto"}) #Aqui eu coloco o nome da minha coluna atual e altero para o novo nome, SE NÃO CRIAR UMA VARIÁVEL PARA GUARDAR AS MUDANÇAS SE NÃO ELAS NÃO REFLETEM
df.columns

Index(['Produto', 'quantidade'], dtype='object')

4- Verificando dados que faltam e preenchendo

In [48]:
#Algumas colunas não vem com todos os dados preenchidos, aqui iremos verificar quando não possuem todos os dados preenchidos
df.isna().sum() #isna retorna falso e verdadeiro, FALSO quando esta preenchido e VERDADEIRO quando não ta, quando ele é na(não preenchido), o SUM é pra ver por coluna a quantidade de dados faltantes que possui

Produto       0
quantidade    0
dtype: int64

5- Verificando dados que faltam e preenchendo

In [ ]:
#Vai mostrar o valor indicado na coluna "Nome"(coluna utilizada)
#Nesse caso o exemplo não funcionou pois todas as colunas estavam preenchidas
# df["nome"] = df["nome"].fillna("Não se aplica")
# df[df["nome"]=="Não se aplica"]

KeyError: 'nome'

6- Removendo dados duplicados com drop_duplicates()

In [ ]:
df = df.drop_duplicates() #Remove linhas duplicadas, para por exemplo não dobrar valores, em nossa tabela não temos este exemplo

7- Convertendo tipo de dado com pd.to_numeric() ou pd.to_datetime() ou astype()

In [58]:
#df.dtypes #Mostra o tipo de dado de cada coluna
df["quantidade"] = df["quantidade"].astype(float) #Converte o valor, nesse caso para float mas tem o numeric e o datetime
df.dtypes

Produto        object
quantidade    float64
dtype: object

8- Filtrando dados

In [ ]:
#Quando vai fazer um filtro é importante alterar o nome da variável desse DF
df_filtrado = df[df["quantidade"]>20] #Podemos criar lógica para filtrar conforme queremos
df_filtrado

        Produto  quantidade
1         Lápis       100.0
2   Caneta Azul        80.0
5          Café        25.0
6  Achocolatado        30.0
7          Água        50.0