Transformar valores inválidos

In [58]:
import pandas as pd

caminho_csv = ('produtos_preco_formatado.csv')
caminho_excel = ('produtos_preco_formatado.xlsx')

df = pd.read_csv(caminho_csv)

1- Mostra os tipos das colunas da tabela

In [59]:
df.info() #Tipo das colunas da tabela

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nome        8 non-null      object
 1   categoria   8 non-null      object
 2   quantidade  8 non-null      int64
 3   preço       8 non-null      object
dtypes: int64(1), object(3)
memory usage: 388.0+ bytes

2- Remove espaços e a formatação "R$"

In [60]:
#Retira o R$ e espaços
df["preço"] = df["preço"].str.replace("R$", "", regex=False).str.strip()
#Vai substituir o R$ por nada, vai remover ele

3- Troca a vírgula por ponto

In [61]:
df['preço'] = df['preço'].apply(lambda x: str(x).replace(",","."))
df['preço']
#O apply permite aplicar uma função para todos os elementos da minha coluna
#Para cada elemento da minha coluna preço ele vai pega o valor e converter de "," para "."

0     12.50
1      1.20
2      2.30
3     45.99
4    120.00
5     18.75
6      7.50
7      2.00
Name: preço, dtype: object

4- Converte o valor (nesse caso para float)

In [62]:
df["preço"] = df["preço"].astype(float)
df["preço"]

0     12.50
1      1.20
2      2.30
3     45.99
4    120.00
5     18.75
6      7.50
7      2.00
Name: preço, dtype: float64

In [63]:
df['preço'].mean()
df['preço']

0     12.50
1      1.20
2      2.30
3     45.99
4    120.00
5     18.75
6      7.50
7      2.00
Name: preço, dtype: float64

In [64]:
# df['preço'].plot() #Grágico dos valores da coluna
# df['preço']

In [65]:
#Salvando os dados
df = pd.read_csv(caminho_csv, sep = ",")
print ("Leitura do arquivo CSV realizada com sucesso!")

df.to_excel(caminho_excel, index = False)
print ("Arquivo excel salvo com sucesso")

Leitura do arquivo CSV realizada com sucesso!
Arquivo excel salvo com sucesso